.website-content {
    margin: 12px auto 40px auto;
    max-width: 1000px;
    overflow: hidden;
    width:90%;
}

mark {
    background-color: rgba(255, 231, 2, 0.15);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.indented-less {
    padding-left: 10px;
}

.indented {
    padding-left: 20px;
}

.indented-level2 {
    padding-left: 40px;
}

.indented-level3 {
    padding-left: 60px;
}

/* Responsive table of contents (toc) */

/* Hides toc on screen widths smaller than 1300px */
/* page-nav appears on screens 1300px wide and above */
@media screen and (min-width: 1299.98px) {
    #article-toc {
        display: none;
        border: none;
    }
}

